body{
    
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}
.header{
  text-align:left;
  color: white;
  font-size:70px;
}
  .child {
    display: inline-block;
    
  }
  .small{
text-align:left;
  color: white;
  font-size:20px;
  }
  a:link,a:visited{
    color:white;
    font-size: 18px;
    text-decoration: none;
  }